/*
   Global Colors
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/

// $vars set in _base.scss
$colors: (
	'aqua'				$aqua,
	'blue'				$blue,
	'navy'				$navy,
	'teal'				$teal,
	'green'				$green,
	'seafoam'			$seafoam,
	'olive'				$olive,
	'lime'				$lime,
	'yellow'			$yellow,
	'orange'			$orange,
	'red'				$red,
	'fuchsia'			$fuchsia,
	'purple'			$purple,
	'maroon'			$maroon,
	'white'				$white,
	'light-grey'		$light-grey,
	'dark-grey'			$dark-grey,
	'black'				$black,
	'primary-color'		$primary-color,
	'secondary-color'	$secondary-color,
	'tertiary-color'	$tertiary-color
);

@each $newColor, $color in $colors {
	.bg-#{$newColor} {
		background-color: $color;
	}
	.text-#{$newColor} {
		color: $color;
	}
	.link-#{$newColor} {
		color: $color;
		&:hover {
			color: $dark-grey;
		}
	}
	.stroke-#{$newColor} {
		stroke: $color;
	}
	.fill-#{$newColor} {
		fill: $color;
	}
	.border-#{$newColor} {
		border-color: $color;
	}
}
