@import
	'prism',
	'../../modules/00_settings/settings.scss',
	'colors',
	'../vendor/s-grid/breakpoints',
	'../vendor/s-grid/grid',
	'../../modules/01_introduction/introduction.scss',
	'../../modules/02_colors/colors.scss',
	'../../modules/03_typography/typography.scss',
	'../../modules/04_buttons/buttons.scss',
	'../../modules/05_tables/tables.scss',
	'../../modules/06_lists/lists.scss',
	'../../modules/07_forms/forms.scss';

$header-height: 75px;

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: $base-font-size;
}

html {
	font-family: sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
	line-height: 1;
	font-family: $body-font;
	color: $dark-grey;
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	background: white;

	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	text-size-adjust: none;

	transition: $transition;
	opacity: 0;
	&.loaded {
		opacity: 1;
	}
}

html,
body {
	height: 100%;
	&.sidebar-open {
		overflow-x: hidden;
		overflow-y: visible;
	}
}

ul,
ol,
li {
	margin: 0;
}

a {
	color: $dark-grey;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: $black;
	}
}

#main {
	width: 100%;
	height: 100%;
}

.module {
	border-bottom: 1px solid #ddd;
	background-color: white;
	padding: 2rem;
	@include breakpoint($small) {
		padding: 5rem;
	}
	@include breakpoint($large) {
		padding: 5rem 15rem;
	}
	> h2 {
		margin-bottom: 2rem;
	}
	p a {
		border-bottom: 1px solid $light-grey;
		padding-bottom: .25rem;
	}
}

header {
	overflow: hidden;
	line-height: $header-height;
	padding: 0 2rem;
	border-bottom: 1px solid #ddd;
	background: white;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	.toggle-sidebar {
		float: left;
		cursor: pointer;
		width: 24px;
		margin-right: 1rem;
		background: url(../images/hamburger.svg) no-repeat center;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		.sidebar-open & {
			background: url(../images/close.svg) no-repeat center;
		}
	}
	nav {
		display: none;
		@include breakpoint($small) {
			float: right;
			display: inline;
		}
		li {
			display: inline-block;
			margin-left: 1rem;
			a {
				color: $dark-grey;
				&:before {
					content: '';
					opacity: 0.5;
					display: inline-block;
					vertical-align: top;
					height: $header-height;
					background: center no-repeat;
					// margin-right: 10px;
				}
				&:hover:before,
				&.active:before {
					opacity: 1;
				}
				&.breakpoint-toggle-tiny:before {
					width: 17px;
					background-image: url('../images/icon_small_up.svg');
				}
				&.breakpoint-toggle-small:before {
					width: 28px;
					background-image: url('../images/icon_medium_up.svg');
				}
				&.breakpoint-toggle-medium:before {
					width: 55px;
					background-image: url('../images/icon_large_up.svg');
				}
				&.breakpoint-toggle-large:before {
					width: 52px;
					background-image: url('../images/icon_full.svg');
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	height: calc(100% - #{$header-height});
	top: $header-height;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	width: $sidebar-width;
	transform: translateX(-$sidebar-width);
	transition: $transition;

	overflow-y: scroll;
	overflow-scrolling: touch;

	.sidebar-open & {
		transform: translateX(0);
	}
	.logo {
		margin: 25px auto;
		width: 140px;
		display: block;
		// @include breakpoint($small) {
		// 	position: absolute;
		// 	bottom: $header-height; // height of header
		// 	left: 50%;
		// 	transform: translate(-50%, -25%);
		// }
	}
	#nav {
		padding: 2rem 0;
		a {
			padding: 1rem 2rem;
			display: block;
			border-bottom: 2px solid transparent;
			&.active {
				background: #f9f9f9;
			}
			&:hover {
				background: #f5f5f5;
			}
		}
	}
}

.titles {
	h1, h2, h3, h4, h5, h6 {
		margin: 1rem 0 2.5rem 0;
	}
}

.styleguide-iframe-wrapper {
	overflow: hidden;
	height: 100%;
	width: 100%;
	max-width: 100%;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	max-width: initial;
	transition: $transition;
	background-color: #eee;
	position: relative;

	.sidebar-open & {
		transform: translateX($sidebar-width);
		@include breakpoint($small) {
			width: calc(100% - 240px);
		}
	}

	iframe {
		border: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		height: calc(100% - #{$header-height});
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 0;
		transition: $transition;
		margin: 0 auto;

		&[data-breakpoint-size='tiny'] {
			max-width: $tiny;
		}
		&[data-breakpoint-size='small'] {
			max-width: $small;
		}
		&[data-breakpoint-size='medium'] {
			max-width: $medium;
		}
		&[data-breakpoint-size='large'] {
			// max-width: $large;
			max-width: 100%;
		}

	}
}

.styleguide-module__title--light {
	color: #bbb;
	text-transform: none;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	margin: 0;
	display: block;
}

.styleguide-module__title--small {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}

.styleguide-module__toggle-code {
	display: block;
	text-indent: -9999999px;
	background: url('../images/icon_code.svg') right center no-repeat;
	height: 1.5em;
	opacity: .5;
	margin: 15px 0;
	position: relative;
}

.styleguide-list--buttons {
	li {
		margin-bottom: 1rem;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}
