@import
	'prism',
	'../../modules/0_settings/settings.scss',
	'../vendor/s-grid/breakpoints',
	'../vendor/s-grid/grid',
	'../../modules/1_introduction/introduction.scss',
	'../../modules/2_colors/colors.scss',
	'../../modules/3_typography/typography.scss',
	'../../modules/4_buttons/buttons.scss',
	'../../modules/5_tables/tables.scss',
	'../../modules/6_lists/lists.scss',
	'../../modules/7_forms/forms.scss';

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: $base-font-size;
}

html {
	font-family: sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
	line-height: 1;
	font-family: $body-font;
	color: $dark-grey;
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	background: #fff;

	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	text-size-adjust: none;
}

ul,
ol,
li {
	margin: 0;
}

a {
	color: $dark-grey;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: $black;
	}
}

#main {
	@include breakpoint($small) {
		margin-top: 76px;
		background: $light-grey;
	}
}

header {
	overflow: hidden;
	line-height: 75px;
	padding: 0 2rem;
	border-bottom: 1px solid #ddd;
	background: white;
	@include breakpoint($small) {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
	}
	.sidebar-toggle {
		float: left;
	}
	nav {
		display: none;
		@include breakpoint($small) {
			float: right;
			display: inline;
		}
		li {
			display: inline-block;
			margin-left: 1rem;
			a {
				color: $dark-grey;
				&:before {
					content: '';
					opacity: 0.5;
					display: inline-block;
					vertical-align: top;
					height: 75px;
					background: center no-repeat;
					margin-right: 10px;
				}
				&:hover:before,
				&.active:before {
					opacity: 1;
				}
				&.breakpoint-toggle-tiny:before {
					width: 17px;
					background-image: url('../images/icon_small_up.svg');
				}
				&.breakpoint-toggle-small:before {
					width: 28px;
					background-image: url('../images/icon_medium_up.svg');
				}
				&.breakpoint-toggle-medium:before {
					width: 55px;
					background-image: url('../images/icon_large_up.svg');
				}
				&.breakpoint-toggle-large:before {
					width: 52px;
					background-image: url('../images/icon_full.svg');
				}
			}
		}
	}
}

.sidebar {
	border-bottom: 1px solid #ddd;
	@include breakpoint($small) {
		position: fixed;
		height: 100%;
		background-color: #fff;
		border-right: 1px solid #ddd;
		border-bottom: none;
		width: $sidebar-width;
		left: -$sidebar-width;
		transition: $transition;
		.sidebar-open & {
			left: 0;
		}
	}
	#nav {
		padding: 2rem 0;
		a {
			padding: 1rem 2rem;
			display: block;
			border-bottom: 2px solid transparent;
			&.active {
				background: #f9f9f9;
			}
			&:hover {
				background: #f5f5f5;
			}
		}
	}
}

.primary {
	@include breakpoint($small) {
		position: relative;
		overflow: hidden;
		background: $light-grey;
		transition: $transition;
		transform: translateX(-50%);
		left: calc(50%);
		.sidebar-open & {
			left: calc(50% + (#{$sidebar-width} / 2));
			width: calc(100% - #{$sidebar-width});
			max-width: calc(100% - #{$sidebar-width});
		}
	}
	@include breakpoint($small) {
		&[data-breakpoint-size='tiny'] {
			max-width: $tiny;
		}
		&[data-breakpoint-size='small'] {
			max-width: $small;
		}
		&[data-breakpoint-size='medium'] {
			max-width: $medium;
		}
		&[data-breakpoint-size='large'] {
			// max-width: $large;
			max-width: 100%;
		}
	}
	> section.module {
		padding: 5rem;
		border-bottom: 1px solid #ddd;
		background: white;
		> h2 {
			margin-bottom: 2rem;
		}
		p a {
			border-bottom: 1px solid $gray;
			padding-bottom: .25rem;
		}
	}
}


.styleguide-list--buttons {
	li {
		margin-bottom: 1rem;
	}
}

.titles {
	h1, h2, h3, h4, h5, h6 {
		margin: 1rem 0 2.5rem 0;
	}
}

.styleguide-module__title--light {
    color: #bbb;
    text-transform: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 0;
    display: block;
}
.styleguide-module__title--small {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}


.styleguide-module__toggle-code {
    display: block;
    text-indent: -9999999px;
    background: url('../images/icon_code.svg') right center no-repeat;
    height: 1.5em;
    opacity: .5;
    margin-bottom: 15px;
    position: relative;
    z-index: 9;
}
