@import
	'prism',
	'../../modules/0_settings/settings.scss',
	'colors',
	'../vendor/s-grid/breakpoints',
	'../vendor/s-grid/grid',
	'../../modules/1_introduction/introduction.scss',
	'../../modules/2_colors/colors.scss',
	'../../modules/3_typography/typography.scss',
	'../../modules/4_buttons/buttons.scss',
	'../../modules/5_tables/tables.scss',
	'../../modules/6_lists/lists.scss',
	'../../modules/7_forms/forms.scss';

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: $base-font-size;
}

html {
	font-family: sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
	line-height: 1;
	font-family: $body-font;
	color: $dark-grey;
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	background: $light-grey;

	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	text-size-adjust: none;

	transition: $transition;
	opacity: 0;
	&.loaded {
		opacity: 1;
	}
}

html,
body {
	&.sidebar-open {
		overflow-x: hidden;
		overflow-y: visible;
	}
}

ul,
ol,
li {
	margin: 0;
}

a {
	color: $dark-grey;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: $black;
	}
}

#main {
	width: 100%;
	margin-top: 76px;
	transition: $transition;
	.sidebar-open & {
		transform: translate(240px, 0);
		@include breakpoint($small) {
			width: calc(100% - 240px);
		}
	}
}


header {
	overflow: hidden;
	line-height: 75px;
	padding: 0 2rem;
	border-bottom: 1px solid #ddd;
	background: white;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	.toggle-sidebar {
		float: left;
		cursor: pointer;
		width: 24px;
		margin-right: 1rem;
		background: url(../images/hamburger.svg) no-repeat center;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		.sidebar-open & {
			background: url(../images/close.svg) no-repeat center;
		}
	}
	nav {
		display: none;
		@include breakpoint($small) {
			float: right;
			display: inline;
		}
		li {
			display: inline-block;
			margin-left: 1rem;
			a {
				color: $dark-grey;
				&:before {
					content: '';
					opacity: 0.5;
					display: inline-block;
					vertical-align: top;
					height: 75px;
					background: center no-repeat;
					margin-right: 10px;
				}
				&:hover:before,
				&.active:before {
					opacity: 1;
				}
				&.breakpoint-toggle-tiny:before {
					width: 17px;
					background-image: url('../images/icon_small_up.svg');
				}
				&.breakpoint-toggle-small:before {
					width: 28px;
					background-image: url('../images/icon_medium_up.svg');
				}
				&.breakpoint-toggle-medium:before {
					width: 55px;
					background-image: url('../images/icon_large_up.svg');
				}
				&.breakpoint-toggle-large:before {
					width: 52px;
					background-image: url('../images/icon_full.svg');
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	height: calc(100% - 75px);
	top: 75px;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	width: $sidebar-width;
	transform: translateX(-$sidebar-width);
	transition: $transition;

	overflow-y: scroll;
	overflow-scrolling: touch;

	.sidebar-open & {
		transform: translateX(0);
	}
	.logo {
		margin: 25px auto 0;
		width: 140px;
		display: block;
		@include breakpoint($small) {
			position: absolute;
			bottom: 75px; // height of header
			left: 50%;
			transform: translate(-50%, -25%);
		}
	}
	#nav {
		padding: 2rem 0;
		a {
			padding: 1rem 2rem;
			display: block;
			border-bottom: 2px solid transparent;
			&.active {
				background: #f9f9f9;
			}
			&:hover {
				background: #f5f5f5;
			}
		}
	}
}

.primary {
	@include breakpoint($small) {
		position: relative;
		overflow: hidden;
		background: $light-grey;
		transition: $transition;
		max-width: 100%;
		margin: 0 auto;
		&[data-breakpoint-size='tiny'] {
			max-width: $tiny;
		}
		&[data-breakpoint-size='small'] {
			max-width: $small;
		}
		&[data-breakpoint-size='medium'] {
			max-width: $medium;
		}
		&[data-breakpoint-size='large'] {
			// max-width: $large;
			max-width: 100%;
		}
	}
	> section.module {
		border-bottom: 1px solid #ddd;
		background: white;
		padding: 2rem;
		@include breakpoint($small) {
			padding: 5rem;
		}
		> h2 {
			margin-bottom: 2rem;
		}
		p a {
			border-bottom: 1px solid $light-grey;
			padding-bottom: .25rem;
		}
	}
}


.styleguide-list--buttons {
	li {
		margin-bottom: 1rem;
	}
}

.titles {
	h1, h2, h3, h4, h5, h6 {
		margin: 1rem 0 2.5rem 0;
	}
}

.styleguide-module__title--light {
    color: #bbb;
    text-transform: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 0;
    display: block;
}
.styleguide-module__title--small {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}


.styleguide-module__toggle-code {
    display: block;
    text-indent: -9999999px;
    background: url('../images/icon_code.svg') right center no-repeat;
    height: 1.5em;
    opacity: .5;
    margin-bottom: 15px;
    position: relative;
}
