doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title=locals.clientName + " Styleguide"
    link(rel="icon", type="image/png", href="./assets/images/favicon.png")
    block meta
    block styles
  body
    <!--[if lt IE 8]>
    p.chromeframe
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    <![endif]-->
    block content
    block scripts
