h2.styleguide-module__title=name
div(id=id)
  h5 Default Form ( Foundation )
  form.snippet
    .row
      .columns-1
          input.g-wide--full(type='text', placeholder='Placeholder')
      .columns-1
        input.g-wide--full(type='text', value=items.disabled, disabled='')
    .row
      .columns-1
        label Email input
        input(type='email')
      .columns-1
        label Password input
        input(type='password', value='password')
    .row
      .columns-1
        label Textarea
        textarea(cols='30', rows='5') Textarea text
      .columns-1
        label Select field
        select
          option Option 01
          option Option 02
      .columns-1
        label File input
        input(type='file')
    .row
      .columns-1
        label
          input(type='radio', name='rad')
          | Radio input
        label
          input(type='checkbox')
          | Checkbox input
      .columns-1
        label Number input
        input(type='number', value='5', min='0', max='10')
    .row
      .columns-1
        label Date input
        input(type='date')
      .columns-1
        label Time input
        input(type='time')

hr

div.
  <h5>SimpleForms</h5>
  <form action="" class="snippet simple-form row">

    <div class="columns-2">

      <div class="simpleforms">
        <input type="text" placeholder="Text Input" name="text-input">
      </div>

      <div class="simpleforms">
        <textarea placeholder="Textarea"></textarea>
      </div>

      <div class="simpleforms">
        <label for="password">Password:</label>
        <input type="password" class="password" name="password" placeholder="Enter your password">
      </div>

    </div>

    <div class="columns-2">

      <div class="row">

        <div class="columns-2">

          <div class="simpleforms">
            <input type="checkbox" name="checkbox-1" value="checkbox-1" id="checkbox-1">
            <label for="checkbox-1">Checkbox 1</label>
          </div>

          <div class="simpleforms">
            <input type="checkbox" name="checkbox-2" value="checkbox-2" id="checkbox-2">
            <label for="checkbox-2">Checkbox 2</label>
          </div>

          <div class="simpleforms">
            <input type="checkbox" name="checkbox-3" value="checkbox-3" id="checkbox-3">
            <label for="checkbox-3">Checkbox 3</label>
          </div>

          <br>

          <div class="simpleforms">
            <select>
              <option value="1">Select Option 1</option>
              <option value="2">Select Option 2</option>
              <option value="3">Select Option 3</option>
            </select>
          </div>

          <br>

          <div class="simpleforms">
            <label for="file" class="file-label">
              <input type="file" class="file-input" name="file">
              <a class="file-select btn btn-light" href="javascript:;"><i class="fa fa-upload"></i>Upload file</a>
              <span class="file-name"></span>
              <a href="javascript:;" class="remove-file">Remove File</a>
              <img class="preview-file" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" alt="preview image" />
            </label>
          </div>
        </div>

        <div class="columns-2">

          <div class="simpleforms">
            <input type="radio" name="radio" value="radio-1" id="radio-1">
            <label for="radio-1">Radio 1</label>
          </div>

          <div class="simpleforms">
            <input type="radio" name="radio" value="radio-2" id="radio-2">
            <label for="radio-2">Radio 2</label>
          </div>

          <div class="simpleforms">
            <input type="radio" name="radio" value="radio-3" id="radio-3">
            <label for="radio-3">Radio 3</label>
          </div>

          <br>

          <div class="simpleforms">
            <input type="checkbox" name="toggler" value="toggler" class="toggler">
          </div>

          <br>

          <div class="simpleforms">
            <label for="submit">
              <a class="btn btn-primary" href="javascript:;">Submit</a>
            </label>
          </div>

        </div>

      </div><!-- /row -->

    </div><!-- /columns-2 -->

  </form>
