h2.styleguide-module__title=name
div(id=id)
  form.snippet
    fieldset
      .row
        .columns-1
          input.g-wide--full(type='text', placeholder='Placeholder')
        .columns-1
          input.g-wide--full(type='text', value=items.disabled, disabled='')
      .row
        .columns-1
          label Email input
          input(type='email')
        .columns-1
          label Password input
          input(type='password', value='password')
      .row
        .columns-1
          label Textarea
          textarea(cols='30', rows='5') Textarea text
        .columns-1
          label Select field
          select
            option Option 01
            option Option 02
        .columns-1
          label File input
          input(type='file')
      .row
        .columns-1
          label
            input(type='radio', name='rad')
            | Radio input
          label
            input(type='checkbox')
            | Checkbox input
        .columns-1
          label Number input
          input(type='number', value='5', min='0', max='10')
      .row
        .columns-1
          label Date input
          input(type='date')
        .columns-1
          label Time input
          input(type='time')
