/*  Strip unit
============================================ */
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

/*  Font Size (px, em, rem)
============================================ */
@mixin font-size($size) {

    $px: $size * 1px;
    $rem-unit: ( $size / strip-unit($rem-base) ) * 1rem;

    font-size: $px;
	font-size: $rem-unit;

}
// @include font-size(68, {OPTIONAL});
