.module[data-scroll-target='introduction'] {
	background-color: $light-grey;
	// color: white;
	@include breakpoint($small) {
		text-align: center;
		p {
			margin: 0 auto 1rem;
			max-width: 85%;
		}
	}
}
