@import "../0_settings/settings.scss";

#colors {
	@include grid();
	li {
		position: relative;
		padding: 0;
		margin-bottom: 0.9375em;
		@include breakpoint($small) {
			@include columns(3);
		}
		p {
			position: absolute;
			padding: 3px 13px;
			color: #666;
			background-color: #fff;
			font-size: 12px;
			bottom: 0;
			left: 0.9375em;
		}
		.color {
			height: 120px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
