@import "../0_settings/settings.scss";

.bg-white {
	background-color: $white;
}

.bg-whitesmoke {
	background-color: $whitesmoke;
}

.bg-blue {
	background-color: $secondary-color;
}

.bg-blue2 {
	background-color: $blue2;
}

.bg-blue3 {
	background-color: $blue3;
}

.bg-red {
	background-color: $tertiary-color;
}

.bg-red2 {
	background-color: $red2;
}

.bg-red3 {
	background-color: $red3;
}

.bg-gold {
	background-color: $primary-color;
}

.bg-gold2 {
	background-color: $gold2;
}

.bg-gold3 {
	background-color: $gold3;
}

.bg-light-grey1 {
	background-color: $light-grey1;
}

.bg-light-grey2 {
	background-color: $light-grey2;
}

.bg-light-grey3 {
	background-color: $light-grey3;
}

.bg-dark-grey1 {
	background-color: $dark-grey1;
}

.bg-dark-grey2 {
	background-color: $dark-grey2;
}

.bg-dark-grey3 {
	background-color: $dark-grey3;
}

.bg-black {
	background-color: $black;
}

.gold {
	color: $primary-color;
}

.white {
	color: $white;
}

.black {
	color: $black;
}

#colors {
	@include grid();
	li {
		position: relative;
		padding: 0;
		margin-bottom: 0.9375em;
		@include breakpoint($small) {
			@include columns(3);
		}
		p {
			position: absolute;
			padding: 3px 13px;
			color: #666;
			background-color: #fff;
			font-size: 12px;
			bottom: 0;
			left: 0.9375em;
		}
		.color {
			height: 120px;
			margin-right: 0.9375em;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
