extends templates/_layout
block styles
  link(href='./assets/css/main.css', rel='stylesheet')
block meta
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
block content
  include templates/_header.jade
  .styleguide-iframe-wrapper
    iframe(src="./styleguide.html", frameborder="0", height="100%", width="100%")

block scripts
  script(src="./assets/js/app.js")
