extends templates/_layout
block styles
  link(href='./assets/css/styleguide.css', rel='stylesheet')
  link(href='./assets/css/vendor.css', rel='stylesheet')
  link(href='./assets/css/styleguide.css', rel='stylesheet')
  link(href='./assets/css/modules.css', rel='stylesheet')
block meta
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
block content
  include templates/_header.jade
  aside.sidebar
    nav#nav
      ul
        li
          a(href='/') Back to styleguide
        li
          a(href='/template-home.html') Home Template
        li
          a(href='/template-projects.html') Projects Template
    img(src=locals.logoImage).logo
  .styleguide-iframe-wrapper
    main#main(style='display: flex; flex-flow: column; margin-top: 76px;')
      h2.styleguide-module_title this is the home template
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic corrupti quo illum tenetur enim, eligendi aspernatur odit quibusdam, ducimus consequatur, voluptatum voluptas earum! Magnam earum similique, totam ratione accusamus eaque.
block scripts
  //- bundle.js includes jquery, vendor.js doesn't
  //- use vendor.js in other projects that already load jquery
  script(src="./assets/js/styleguide.js")
  script(src="./assets/js/bundle.js")
  script(src="./assets/js/modules.js")
  script(src="./assets/js/iframe.js")
