#media {
	[class*='columns-'] {
		margin-bottom: 1rem;
	}
}


.video {
	cursor: pointer;
	background: $light-grey;
	.video-thumb {
		bottom: 0;
		display: block;
		left: 0;
		margin: auto;
		max-width: 100%;
		width: 100%;
		position: absolute;
		right: 0;
		top: 0;
		height: auto
	}
	.play-button {
		height: 72px;
		width: 72px;
		left: 50%;
		top: 50%;
		margin-left: -36px;
		margin-top: -36px;
		position: absolute;
		background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
	}
}
