@import "../0_settings/settings.scss";

$btn-width: 170px;
$btn-height: 50px;
$btn-border-width: 2px;

.btn {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	font-family: $body-font;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	width: $btn-width;
	height: $btn-height;
	line-height: $btn-height;
	font-size: 10px;
	transition: all 0.3s,opacity 0.3s;

	&.btn-black {
		background: $black;
		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}

	&.btn-light {
		background: $light-grey;
		color: $dark-grey;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	&.btn-primary {
		background: $secondary-color;
		color: $white;
		&:hover {
			background-color: darken($secondary-color, 10);
			color: $white;
		}
	}

	&.btn-invert {
		background: $primary-color;
		color: $white;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	&.btn-ghost {
		background: transparent;
		color: $black;
		border: $btn-border-width solid $black;
		line-height: $btn-height - ($btn-border-width * 2);
		&:hover {
			background-color: $black;
			border-color: $black;
			color: $white;
		}
		&.btn-invert {
			border-color: $primary-color;
			color: $primary-color;
			&:hover {
				background-color: $primary-color;
				border-color: $primary-color;
				color: $white;
			}
		}
	}
}
