@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700|Libre+Baskerville:400');

.font-libre-baskerville {
	font-family: 'Libre Baskerville', $body-font;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	margin-top: 0;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.titles {
	h1, h2, h3, h4, h5, h6 {
		margin: 1rem 0 2.5rem 0;
		line-height: $header-line-height;
	}
}

h1 {
	font-size: 40px;
	line-height: 50px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 18px;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

p {
	font-family: $body-font;
	font-size: 16px;
	line-height: 2;
	margin: 2em 0;
}

.p3 {
	font-size: 15px;
	line-height: 1.8;
	color: #666;
}

.small-3 {
	@include breakpoint($small) {
		max-width: 30%;
	}
}

[contenteditable="true"] {
	position: relative;
	transition: $transition;
	&:after {
		width: 16px;
		height: 16px;
		display: inline-block;
		content: ' ';
	}
	&:hover {
		&:after {
			font-size: 12px;
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiUlEQVQ4y2NgGFKgs7OTl2zNEyZMmAgEDZMmTeogWTNQUwVQcyeIDaLnz5/PQYrmssmTJ1sC6QQg7gXiFlI0l4I0Q9lOQNuLiNYMVFwCxFZQtiPQgEKSNAM1WMM0k2wzTDPQ+Q5AdjEpfs6CRRPJmqEGvAC6IAlId4NcQk58vwDih0DbMxhGDgAAx6ZVXMd4yEMAAAAASUVORK5CYII=');
		}
	}
	&:focus {
	    outline: none;
		&:after {
			width: 0;
			content: '';
		}
	}
}
